<div 
  id='dadesInici'
  class='p-4 pt-8 flex items-center justify-center gap-3 md:gap-12 font-thin'>
  <div class='text-center'>
    <h2 class='text-xl sm:text-xl'>Mostres</h2>
    <span id='mostres' class='sm:text-2xl font-bold'>0</span>
  </div>
  <div class='text-center'>
    <h2 class='text-xl sm:text-xl'>Valoracions</h2>
    <span id='valoracions' class='sm:text-2xl font-bold'>0</span>
  </div>
  <div class='text-center'>
    <h2 class='text-xl sm:text-xl'>Comentaris</h2>
    <span id='comentaris' class='sm:text-2xl font-bold'>0</span>
  </div>
</div>

<script>
  import { dispararComptadors } from '../../lib/utils/dispararComptadors';
  dispararComptadors();
</script>
