---
interface Props {
  srcRetrat: string;
  srcTraç: string;
}
const { srcRetrat, srcTraç } = Astro.props;
---

<div class='max-w-md'>
  <figure class='flex flex-col gap-16 sm:gap-20'>
    <div class='relative'>
      <img
        src={srcRetrat}
        alt='Retrat de na Hua'
        title='Retrat de na Hua'
        class='rounded-xl'
      />
      <div class='absolute -bottom-1/4 right-1/2 translate-x-1/2 w-11/12'>
        <img src={srcTraç} alt='Traç' title='Traç' />
      </div>
    </div>
    <figcaption class='text-xs px-4 leading-loose first-letter'>Repellendus optio nemo illum voluptates a fugiat quidem perferendis. Ab nihil pariatur esse odit, accusamus accusantium sed. Recusandae repellat amet, ducimus illo, aperiam enim similique quam veniam ea ut tenetur officiis regulator!</figcaption>
  </figure>
</div>

