<div
  id='dadesInici'
  class='flex justify-center text-center w-full gap-6 xl:gap-12 px-3'>
  <div class='w-24'>
    <h2 class='text-xl'>Mostres</h2>
    <p id='mostres' class='text-2xl font-bold'>0</p>
  </div>
  <div class='w-24'>
    <h2 class='text-xl'>Valoracions</h2>
    <p id='valoracions' class='text-2xl font-bold'>0</p>
  </div>
  <div class='w-24'>
    <h2 class='text-xl'>Comentaris</h2>
    <p id='comentaris' class='text-2xl font-bold'>0</p>
  </div>
</div>

<script>
  import { dispararComptadors } from '../lib/utils/dispararComptadors';
  dispararComptadors();
</script>
