---
import type { xsT } from '../lib/types';
import { xxss } from '../lib/data';

const xarxes: xsT[] = xxss;
---

<div
  class='bg-stone-200 rounded-t-2xl border-b-4 border-black pt-8 pb-6 px-10 mt-20 flex flex-col xl:flex-row gap-6'>
  <div
    class='xl:w-1/4 flex flex-col sm:flex-row xl:flex-col gap-4 xl:gap-1'>
    <h3 class='tracking-wider text-lg font-thin text-red-500'>
      <span class='trackind-widest text-2xl uppercase'>Hua</span> Ling Huangai
    </h3>
    <div>
      <a href='#' class='block font-bold underline sm:pt-2 pb-1 xl:pt-0 text-sm'
        >hualing@hualing-artwork.com</a
      >
      <ul class='flex gap-2'>
        {
          xarxes.map(({ src, alt, title }) => (
            <li>
              <a href='#'>
                <img src={src} alt={alt} title={title} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <p class='w-full self-end leading-5 xl:pt-9 text-sm italic'>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, ipsum
    tempore. Magni laboriosam vero aperiam non, ullam ut hic dolor saepe
    eligendi accusantium quasi! Delectus quod saepe cumque, consequuntur ea
    dignissimos possimus sed quos harum laborum quas ex rerum odio. &nbsp;- &nbsp;<span class='text-red-500 font-thin'
      >Hua Ling &copy;2020</span
    >
  </p>
</div>
