---
interface Props {
  srcRetrat: string;
  srcTraç: string;
  text: string;
}
const { srcRetrat, srcTraç, text } = Astro.props;
---

<div class='max-w-md'>
  <figure>
    <div class='relative'>
      <img src={srcRetrat} alt='Retrat de na Hua' title='Retrat de na Hua' />
      <div class='absolute -bottom-24 right-1/2 translate-x-1/2 w-11/12'>
        <img src={srcTraç} alt='Traç' title='Traç' />
      </div>
    </div>
    <figcaption class='m-5 first-letter'>{text}</figcaption>
  </figure>
</div>

<style>
  .first-letter::first-letter {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 0.25rem;
    color: #b32f23;
    line-height: normal;
    vertical-align: baseline;
  }
</style>
