---
interface Props {
  srcRetrat: string;
  srcTraç: string;
  text: string;
}
const { srcRetrat, srcTraç, text } = Astro.props;
---

<div class='max-w-md'>
  <di class='flex flex-col gap-12 sm:gap-20'>
    <div class='relative'>
      <img src={srcRetrat} alt='Retrat de na Hua' title='Retrat de na Hua' />
      <div class='absolute -bottom-1/4 right-1/2 translate-x-1/2 w-11/12'>
        <img src={srcTraç} alt='Traç' title='Traç' />
      </div>
    </div>
    <figcaption class='text-xs leading-loose first-letter'>{text}</figcaption>
  </di>
</div>

<style>
  .first-letter::first-letter {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2rem;
    margin-right: 0.15rem;
    line-height: normal;
    color: #b32f23;
    vertical-align: baseline;
  }
</style>
