---
import traç from '../assets/img/paint.png';
import retrat from '../assets/img/main-portrait.jpg';

const srcTraç = traç.src;
const srcRetrat = retrat.src;
---

<div class='relative mx-12 flex flex-col items-center justify-center'>
  <h1 class='text-4xl'>
    Entra a l'encantador <span class='font-bold'>món digital</span> de na Hua
  </h1>
  <div class='relative'>
    <p id='textInici' class='p-6 text-lg'>
      Lorem ipsum dolor sit <span class='font-bold text-red-700'
        >amet consectetur</span
      >, adipisicing elit. Et sit cum aperiam deserunt possimus, nisi veritatis.
      Voluptate ad nobis aspernatur facere, cupiditate esse? Consectetur
      laborum, cupiditate doloribus dignissimos ipsa eligendi quasi veritatis
      aliquam cumque tenetur eum earum repudiandae ea officiis reiciendis ex
      facilis.
			<br /><br />
			Nesciunt natus corrupti iste deleniti qui? Sed
      maiores ipsum minus voluptates fugiat commodi quia sunt sint quam
      temporibus. Alias culpa ipsam architecto ducimus nostrum voluptatibus
      itaque omnis provident, <span class='font-bold text-red-700'
        >voluptatum</span> laudantium necessitatibus minima! Quam
      consequuntur nesciunt unde animi!
			<br /><br />
			Enim quidem blanditiis,
      accusamus vero ab animi rerum consequuntur! Doloribus velit porro
      <span class='font-bold text-red-700'
        >consectetur placeat</span> odio optio officia non nesciunt dolorem est beatae
      animi, voluptatem labore ipsa, inventore tempora id molestiae laborum sed,
      eligendi explicabo? Quia vero id quo quis quidem recusandae cumque,
      numquam et ad tenetur ab quibusdam laboriosam sint molestias omnis quos
      sequi ducimus.
    </p>
  </div>
</div>
