---
import type { textIniciT } from '../lib/types';

interface Props {
  textosInici: textIniciT[];
  classesClaus: string;
}
const { textosInici, classesClaus } = Astro.props;
---

<div id='textosInici' class='p-4 pb-8 sm:px-8 sm:text-lg flex flex-col gap-6 text-justify'>
  {
    textosInici.map(({ text, claus }) => {
      if (claus && claus.length > 0) {
        claus
          .filter((clau) => text.includes(clau))
          .forEach((clau) => {
            const htmlClau = ` <span class='${classesClaus}'>${clau}</span> `;
            text = text.replace(clau, htmlClau);
          });
        return <p set:html={text} />;
      }
      return <p>{text}</p>;
    })
  }
</div>
