---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav';

interface Props {
  titol: string;
}
const { titol } = Astro.props;
console.info('Càrrega Layout');
---

<html lang='ca'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/1553263.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Karla&family=Merriweather+Sans&display=swap'
      rel='stylesheet'
    />
  </head>

  <body class='bg-neutral-300'>
    <div class='container mx-auto my-4 px-4 xl:px-12 text-neutral-800'>
      <header>
        <Nav client:load/>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <Footer />
      </footer>
    </div>
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-size: 100%;
      }

      body {
        font-family: 'Merriweather Sans', sans-serif;
      }

      h1,
      h2,
      h3,
      a {
        font-family: 'Karla', sans-serif;
      }

      p {
        text-align: justify;
        line-height: 1.625;
      }

      .titol {
        text-align: center;
        font-size: 2.5rem;
        font-weight: lighter;
        color: rgb(239 68 68);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }

      .first-letter::first-letter {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 2rem;
        margin-right: 0.3rem;
        line-height: 28px;
        color: rgb(239 68 68);
        vertical-align: baseline;
      }
    </style>
  </body>
</html>
