---
import Nav from '../components/Nav';

interface Props {
  titol: string;
}
const { titol } = Astro.props;
console.info('Càrrega Layout');
---

<html lang='ca'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/1553263.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>
  <body>
    <header>
      <Nav client:load/>
    </header>
    <main>
      <slot />
    </main>
    
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </body>
</html>
