---
import Nav from '../components/Nav';

interface Props {
  titol: string;
}
const { titol } = Astro.props;
console.info('Càrrega Layout');
---

<html lang='ca'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/1553263.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>
  <body>
    <div class="container mx-auto px-6">
      <header>
        <Nav client:load />
      </header>
      <main>
        <slot />
      </main>
    </div>

  </body>
</html>
